body {
  display: flex;
  justify-content: space-evenly;
}

.outerBoxOne {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid;
  width: 200px;
  height: 350px;
  padding: 20px;
  margin: 50px;
  background-color: rgb(222, 255, 168);
}

.fOne, .fTwo {
  margin: 5px;
  height: 25px;
  width: 170px;
  font-size: 20px;
  text-align: right;
}

button {
  height: 30px;
  width: 35px;
  font-size: 20px;
  margin: 5px;
  box-shadow: 5px 5px 5px grey;
}

.resultBox {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  height: 35px;
  width: 170px;
  text-align: right;
  font-size: 30px;
}

.resultBox p {
  margin: 0px;
  overflow: hidden;
}



.outerBoxTwo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid;
  width: 200px;
  height: 350px;
  padding: 20px;
  margin: 50px;
  background-color: rgb(222, 255, 168);
}

.outerBoxTwo h1 {
  margin: 0;
}

.log {
  height: 15px;
}

.current {
  height: 30px;
  width: 180px;
  font-size: 20px;
  text-align: right;
}

.keys {
  display: flex;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.numbers div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 4px;
  border: solid;
  font-weight: bolder;
  box-shadow: 5px 5px 5px grey;
}

.numbers div:hover {
  background-color: rgb(162, 253, 76);
  font-size: 20px;
}

.operators div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 6px;
  border: solid;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 5px 5px 5px grey;
}

.operators div:hover {
  background-color: rgb(162, 253, 76);
  font-size: 25px;
}